.logo {
  color: #db4444;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: 24px;
  margin-right: 24px;
}
.logo-image {
  width: 210px;
  height: 89px;
}

.menu {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  gap: 16px;
}
.menu a {
  color: #000;
  text-decoration: none;
  padding: 12px;
}
.menu a:hover {
  color: #db4444;
  border-bottom: 1px solid #db4444;
}
.menu-register {
  align-items: center;
  justify-content: right;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}
.menu-register a {
  color: #000;
  text-decoration: none;
  padding: 12px;
}

.menu-login {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}
.menu-login a {
  color: #000;
  text-decoration: none;
  padding: 12px;
}
.menu-login a:hover {
  color: #db4444;
}
.menu-user {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}
.dropdown-content {
  text-decoration: none;
}
.icons {
  font-size: 20px;
}
